* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    height: 200px;
  }
  .block1, .block2, .block3{
    height: 50px;
    width: 50px;
    position:absolute;
  } 
  .block1{
    background-color: salmon;
    left: 40px;
    top: 40px;
  }
  .block2{
    background-color: lightblue;
    left: 70px;
    top: 70px;
  }
  .block3{
    background-color: lightgreen;
    left: 100px;
    top: 100px;
  }